.container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 100vh;
}
.box {
    padding: 10px; 
}
.box:nth-child(even){
    background-color: lightblue;

}
.box:nth-child(odd){
    background-color: lightcoral;
    
}