body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.boxes {
    width: 600;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

.box1,
.box3,
.box5,
.box7,
.box9 {
    width: 200px;
    height: 200px;
    background-color: chocolate;
}

.box2,
.box4,
.box6,
.box8 {
    width: 200px;
    height: 200px;
    background-color: bisque;
}