body {
    display: flex;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.container {
    display: grid;
    grid-template-columns: repeat(3,1fx);
    gap: 5px;
    width: 300px;
    height: 200px;
    grid-template-areas: "box1 box2 box3"
                         "box4 box2 box5";
}
.box {
    padding: 10px;
}
/* .box:nth-child(even){
    background-color: lightblue;
}
.box:nth-child(odd){
    background-color: lightcoral;
} */
.box1 {
    grid-area: box1;
    background-color: lightblue;
}
.box2 {
    grid-area: box2;
    background-color: lightskyblue;
}
.box3 {
    grid-area: box3;
    background-color: lightcoral;
}
.box4 {
    grid-area: box4;
    background-color: lightgrey;
}
.box5 {
    grid-area: box5;
    background-color: lightsalmon;
}