.nav-menu {
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}
nav a {
    color: white;
    background-color: #5cb85c;
    font-size: 14px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px 15px;
}