.box {
    width: 200px;
    height: 200px;
    background-color: blue;
    transition: all 1s ease-in;
}
.box:hover{
    background-color: red;
    transform: rotate(45deg);
}
h1 {
    font-size: 16px;
    transition: all 1s ease-in;
}
h1:hover {
    font-size: 25px;
    color: cadetblue;
}